[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
torch = "*"
yapf = "*"

[packages]
slowdgrad = {editable = true,path = "."}
numpy = "*"
tqdm = "*"

[scripts]
format = "yapf . -ir"
test = "pytest"

[requires]
python_version = "3.7"
