[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pre-commit = "*"

[packages]
slowdl = {editable = true,path = "."}

[requires]
python_version = "3.7"
